## macOS finder metadata
**/.DS_Store

## node
node_modules
dist

## disabled parts of configuration
**/disabled/

## nix builds & caching
.direnv
result
result-*

## git pre-commit hooks (handled via cachix/git-hooks)
.pre-commit-config.yaml

## tools
*local.json
